## .NET
bin/
obj/
/packages/

## IDE
.vs/
.idea/
*.user
*.suo
*.DotSettings.user
_ReSharper.Caches/

## OS
.DS_Store
Thumbs.db

## Build
*.nupkg
*.snupkg

## Logs
logs/

## Docker
.env
web-next/.env.local
web-next/node_modules/
web-next/.next/

## User secrets
secrets.json
