<div class="@Class" style="align-items:center;">
<AuthorizeView>
    <Authorized>
        <MudText Typo="Typo.body2" Class="mr-4" Style="line-height:1;">@context.User.Identity?.Name</MudText>
        <MudButton Variant="Variant.Text" Color="Color.Inherit" OnClick="BeginLogout">Log out</MudButton>
    </Authorized>
    <NotAuthorized>
        <MudButton Variant="Variant.Text" Color="Color.Inherit" Href="/login">Log in</MudButton>
    </NotAuthorized>
</AuthorizeView>
</div>
