@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@using ScoreCast.Web.Components.Helpers
@using ScoreCast.Web.Theme
@implements ScoreCast.Web.Components.Helpers.IAlertablePage
@inject IWebAssemblyHostEnvironment HostEnvironment
@inject INotifyService Notify
@inject IAlertService Alert
@inject ILoadingService Loading

<PageTitle>ScoreCast</PageTitle>
<MudThemeProvider @ref="_themeProvider" @bind-IsDarkMode="_isDarkMode" Theme="AppTheme.Theme" />
<MudDialogProvider FullWidth="true" MaxWidth="MaxWidth.Medium" CloseButton="true"/>
<MudPopoverProvider />
<MudSnackbarProvider />

<MudBreakpointProvider>
<div>
    <MudLayout>
        <MudAppBar Elevation="2" Color="Color.Primary">
            <MudIcon Icon="@Icons.Material.Filled.SportsSoccer" Class="mr-2" />
            <MudText Typo="Typo.h6" Class="mr-4">ScoreCast</MudText>
            <MudSpacer />
            <MudIconButton Icon="@(_isDarkMode ? Icons.Material.Filled.LightMode : Icons.Material.Filled.DarkMode)"
                           Color="Color.Inherit"
                           OnClick="ToggleDarkMode" />
            <LoginDisplay />
        </MudAppBar>
        <MudMainContent>
            <UserSync />
            @Body
        </MudMainContent>
    </MudLayout>
</div>
</MudBreakpointProvider>

<script>
    window.downLoadFile = (filename, bytesBase64, contentType) => {
        const link = document.createElement('a');
        link.download = filename;
        link.href = `data:${contentType};base64,${bytesBase64}`;
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }
</script>
